[user]
	name = Oskar E. Torres O.
	email = oskar.torres.1234@gmail.com
[alias]
	co = checkout
	br = branch
	cm = commit
	st = status
[github]
	user = raksodiano
[gitlab]
	user = raksodiano
[push]
	default = simple
[magit]
	hideCampaign = true
