# Carpetas creadas por la configuración

.backup/
.cache/
.cask
.etc/
.local/
.extension/vscode
elpa/
elpy/
emms/
indium-chrome-profile/
straight/build/
straight/repos/
straight/build-cache.el
logview-cache.extmap
